<div class="footer mt-auto py-4 text-light bg-Cprimary ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <b class="text-md-left text-center mt-3">Copyright © 2023 Maeztro - Derechos Reservados</b>

            </div>
            <div class="col-12 col-md-6">
                <div class="row ">
                    <div class="col-12 col-md-5 text-center px-0">
                        <a class="text-light  text-md-right mr-md-3" href="#"><b>Términos y Condiciones</b></a><b>|</b>
                    </div>
                    <div class="col-12 col-md-7 px-0 text-center">
                        <a class="text-light text-md-left" href="#"> <b>Política de Privacidad de Datos</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>